.fa.other-page 
  %h1 لیست پیام های ارسال شده

  %table
    %tr
      %th ردیف
      %th نوع پیام
      %th نام
      %th ایمیل
      %th شماره تلفن
      %th متن پیام
      %th تاریخ ارسال
      %th
      

    - @messages.each_with_index do |message, i|
      %tr
        %td= (i+1)
        %td
          - if message.message_type
            سفارش محصول
          -else
            پیام ارسالی
        %td= message.name
        %td= message.email
        %td= message.phone_number
        %td= message.text
        %td= JalaliDate.new(message.created_at)
        %td
          = link_to 'مشاهده', message
          \|
          = link_to 'حذف', message, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

  
