.fa.other-page 
  %p#notice= notice

  %p
    %b نام:
    = @message.name
  %p
    %b ایمیل:
    = @message.email
  %p
    %b شماره تماس:
    = @message.phone_number
  %p
    %b متن پیام
    = @message.text

  
