%h1 Listing sliders

%table
  %tr
    %th Description
    %th
    %th
    %th

  - @sliders.each do |slider|
    %tr
      %td= slider.description
      %td= link_to 'Show', slider
      %td= link_to 'Edit', edit_slider_path(slider)
      %td= link_to 'Destroy', slider, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Slider', new_slider_path
