.page.fa.other-page  
  %h1 لیست اسلایدها
  - if is_admin?
    = link_to 'افزودن عکس جدید', new_slide_path, :class => "btn btn-default"
  %table
    %tr
      %th توضیحات
      %th تصویر
      %th
      

    - @slides.each do |slide|
      %tr
        %td= slide.description
        %td= image_tag slide.image(:small)
        %td
          = link_to 'مشاهده', slide
          \|
          = link_to 'ویرایش', edit_slide_path(slide)
          \|
          = link_to 'حذف', slide, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

  
