.fa.other-page  
  %p#notice= notice
  = image_tag @slide.image(:small)

  %p
    %b توضیحات:
    = @slide.description
    
  - if is_admin?
    = link_to 'ویرایش', edit_slide_path(@slide)
    \|
    = link_to 'بازگشت', :back
