.fa.other-page  
  %h1 لیست کاربران
  
  %table
    %tr
      %th ایمیل
      %th رمزعبور
      %th
      
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.password
        %td
          = link_to 'مشاهده', user
          = link_to 'ویرایش', edit_user_path(user)
          = link_to 'حذف', user, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }

