.page.fa
  .other-page
    %p#notice= notice

    %p
      %b Email:
      = @user.email
    %p
      %b Password:
      = @user.password

    = link_to 'ویرایش', edit_user_path(@user)
    \|
    = link_to 'بازگشت', :back
