%ul  
  %li
    = link_to "مدیریت گروه محصولات", Category
  %li
    = link_to "مدیریت محصولات", products_path
  %li
    = link_to "افزودن تصویر به محصول", photos_path
  %li
    = link_to "مدیریت اسلایدر", Slide  
  %li
    = link_to "مجوزها و پروانه ها", License  
  %li
    = link_to "افزودن نمایندگی", Agent
  %li
    = link_to "مدیریت صفحات متنی", Page
  %li
    = link_to "پروفایل مدیرسایت", User
  %li
    =link_to 'خروج', delete_session_path
