= form_for @message ||= Message.new, :html => {:class => "contact-form", :id => "contact-form"} do |f|
  - if @message.errors.any?
    #error_explanation
      %ul
        - @message.errors.each do |attr, msg|
          %li= msg 
      
  -if flash[:SendMsg]        
    .alert.alert-success= flash[:SendMsg]
 
  %p.contact-name
    = f.text_field :name,  placeholder: t('msg.name'), :id => "contact_name", :class => I18n.locale    
    
  %p.contact-email
    = f.text_field :email, placeholder: t('msg.email') , :id => "contact_email", :class => I18n.locale
    
  %p.contact-phone    
    = f.text_field :phone_number, placeholder:  t('msg.phone')  , :id => "contact_phone", :class => I18n.locale
    
  %p.contact-message    
    = f.text_area :text, cols: "40", placeholder:  t('msg.text'), rows: "15", :style => "resize:none", :id => "contact_message", :class => I18n.locale
    
         
  %p.contact-submit{:class => I18n.locale}
    = f.submit  t('msg.send'), :class=> "submit", :id => "contact-submit"
    
  
:javascript   
  $(':submit#contact-submit').click(function(e) {
    $(':text#contact_name, :text#contact_email,:text#contact_phone, :textarea#contact_message').each(function() {
      if ($(this).val().length == 0) {
        $(this).css('border', '2px solid red');
        e.preventDefault();
      }
    });
  });
