.fa.other-page{:style => "height:90%;"}
  %h1 لیست نمایندگی ها
  - if is_admin?
    = link_to 'نمایندگی جدید', new_agent_path, :class => "btn btn-default"
  %table
    %tr
      %th نام نماینده
      %th آدرس      
      %th تلفن تماس      
      %th

    - @agents.each do |agent|
      %tr
        %td= agent.name        
        %td= agent.address        
        %td= agent.phone
        %td 
          = link_to 'مشاهده', agent
          = link_to 'ویرایش', edit_agent_path(agent)
          = link_to 'حذف', agent, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  
