/ Our Work Section
#work.page.work-bg
  .container
    / Title Page
    .row      
      .title-page
        %h2.title= t('our_work')
        %h3.title-description
      
              
    / End Title Page
    / Portfolio Projects
    .row{:class => I18n.locale, :style => "margin:0"}
      .project-list
        / Filter
        %nav#options.work-nav
          %ul#filters.option-set{"data-option-key" => "filter"}
            %li.type-work= t('type_of_work')
            
            - @categories.each do |category|
              %li                
                = link_to category.title, "#filter", "data-option-value" => ".item#{category.id}", :title => category.title
                
                    
              
        / End Filter
      .project-pic
        .row
          %section#projects
            %ul#thumbs
              - @categories.each do |category|
                / Item Project and Filter Name
                - category.products.each do |product|
                  %li.item-thumbs{:class => "item" + category.id.to_s}
                    / Fancybox - Gallery Enabled - Title - Full Image                    
                    = link_to product , :class => "hover-wrap", :title => product.title, :remote => true do                
                      %span.overlay-img
                      %span.overlay-img-thumb.font-icon-plus
                    / Thumb Image and Description
                    - if product.photos.present?
                      = image_tag product.photos.first.image(:small), :alt => product.photos.first.image_file_name, :title => product.photos.first.image_file_name
                      %span.pro-title= product.title
           
      
      #show-details{:class => I18n.locale}        
        کیمیاکاران تولید کننده نمونه اسید سولفوریک
                
                   
    / End Portfolio Projects
/ End Our Work Section


/ About Section
#about.page-alternate
  .container
    / Title Page
    .row      
      .title-page{:class => I18n.locale}
        %h2.title= t('about')
        .title-description= raw @about.first.text
      
    / End Title Page
    .row 
      %ul#thumbs
        - License.all.each do |license|
          %li.item-thumbs    
            = link_to license.image(:medium), :class => "hover-wrap fancybox", "data-fancybox-group" => "gallery", :title => license.title do
              %span.overlay-img
              %span.overlay-img-thumb.font-icon-plus
            = image_tag license.image(:small), :alt => "مجوز و پروانه کیمیاکاران", :title => "مجوز و پروانه کیمیاکاران"
            %p= license.title
      
        


/ Contact Section
#contact.page.contact-bg
  .container
    / Title Page
    .row
    
      .title-page{:class => I18n.locale}
        %h2.title= t('Get_in_Touch')
        %h3.title-description شما میتوانید از طریق ایمیل یا  تلفن با ما در ارتباط باشید
    / End Title Page
    / Contact Form
    .row{:class => I18n.locale}
      .span6
        = render 'shared/msg_form'
      .contact_information
        .contact-details
          %h3= t('Contact_Details')
        .agent
          %h4= t('agent-list')          
          .agent_list
            %table
              %tr
                %th= t('agent.name')
                %th= t('agent.address')
                %th= t('agent.phone')       
          
              -@agents.each do |agent|
                %tr
                  %td= agent.name
                  %td= agent.address
                  %td= agent.phone
            
    
        .ahoy
          = t('visit_site')
          = Visit.all.count
          نفر
          -#
            = line_chart Visit.group_by_day(:browser).count
    / End Contact Form
/ End Contact Section

#order.page.order-bg
  .container
    / Title Page
    .row
    
      .title-page
        %h2.title= t('set_order')
        %h3.title-description  محصول موردنیاز خود را بصورت آنلاین سفارش دهید.
    / End Title Page
    / Contact Form
    .row{:class => I18n.locale}
      .span6
        = render 'shared/order_form'
      .google_site_map
        .contact-details.map-background
          %iframe{:height => "480", :src => "https://www.google.com/maps/d/embed?mid=zbDi3iZxywyM.k3x6DmAjrApY", :width => "100%"}          
          
          
    / End order Form
/ End order Section


:coffeescript
  $(document).ready ->
    $(".nano").nanoScroller()
    return  
