/ Our Work Section
#work.page.work-bg
  .container
    / Title Page
    .row      
      .title-page
        %h2.title= t('our_work')
        %h3.title-description
      
              
    / End Title Page
    / Portfolio Projects
    .row{:class => I18n.locale, :style => "margin:0"}
      .project-list
        / Filter
        %nav#options.work-nav
          %ul#filters.option-set{"data-option-key" => "filter"}
            %li.type-work= t('type_of_work')
            
            - @categories.each do |category|
              %li                
                = link_to category.title, "#filter", "data-option-value" => ".item#{category.id}"
                
                    
              
        / End Filter
      .project-pic
        .row
          %section#projects
            %ul#thumbs
              - @categories.each do |category|
                / Item Project and Filter Name
                - category.products.each do |product|
                  %li.item-thumbs{:class => "item" + category.id.to_s}
                    / Fancybox - Gallery Enabled - Title - Full Image                    
                    = link_to product, :class => "hover-wrap", "data-fancybox-group" => "gallery" do                
                      %span.overlay-img
                      %span.overlay-img-thumb.font-icon-plus
                    / Thumb Image and Description
                    - if product.photos.present?
                      = image_tag product.photos.first.image(:small)
                      %span.pro-title= product.title
                  
              / End Item Project
                
              
    / End Portfolio Projects
/ End Our Work Section


/ About Section
#about.page-alternate{:style => "height:50%"}
  .container
    / Title Page
    .row      
      .title-page
        %h2.title= @about.first.title
        %h3.title-description= raw @about.first.text
    / End Title Page


/ Contact Section
#contact.page.contact-bg
  .container
    / Title Page
    .row
    
      .title-page
        %h2.title= t('Get_in_Touch')
        %h3.title-description شما میتوانید از طریق ایمیل یا  تلفن با ما در ارتباط باشید
    / End Title Page
    / Contact Form
    .row{:class => I18n.locale}
      .span7
        = render 'shared/msg_form'
      .span3
        .contact-details
          %h3= t('Contact_Details')
          =raw @contact.first.text
    / End Contact Form
/ End Contact Section

#order.page.order-bg
  .container
    / Title Page
    .row
    
      .title-page
        %h2.title= t('set_order')
        %h3.title-description شما می توانید محصول موردنیاز خود را بصورت آنلاین سفارش دهید.
    / End Title Page
    / Contact Form
    .row{:class => I18n.locale}
      .span7
        = render 'shared/order_form'
      .span3
        .contact-details
          
    / End order Form
/ End order Section
