.page.fa.other-page{:style => "height:100%"}
  - if is_admin?
    = link_to 'ایجاد دسته جدید محصولات', new_category_path, :class => "btn btn-default"
  / Our Work Section
  #work
    .container
      / Title Page
      .row
        .span12
          .title-page
            %h2.title= t('our_work')
            %h3.title-description
              Check Out Our Projects on
              = succeed "." do
                = link_to 'Dribbble', '#'
                
      / End Title Page
      / Portfolio Projects
      .row{:class => I18n.locale}
        .span3
          / Filter
          %nav#options.work-nav
            %ul#filters.option-set{"data-option-key" => "filter"}
              %li.type-work= t('type_of_work')
              %li
                = link_to t('All_Projects'), "#filter", "data-option-value" => "*", :class => "selected"              
              %li
                = link_to 'Design', "#filter", "data-option-value" => ".design"              
              %li
                = link_to 'Photography', "#filter", "data-option-value" => ".photography"                            
              %li
                = link_to 'Video', "#filter", "data-option-value" => ".video"              
                
          / End Filter
        .span9
          .row
            %section#projects
              %ul#thumbs
                / Item Project and Filter Name
                %li.item-thumbs.span3.design
                  / Fancybox - Gallery Enabled - Title - Full Image
                  = link_to '#', :class => "hover-wrap fancybox", "data-fancybox-group" => "gallery", title: "The City" do                
                    %span.overlay-img
                    %span.overlay-img-thumb.font-icon-plus
                  / Thumb Image and Description
                  = image_tag '4_teractor111_Fixd.jpg'
                  
                / End Item Project
                / Item Project and Filter Name
                %li.item-thumbs.span3.design
                  / Fancybox - Gallery Enabled - Title - Full Image
                  = link_to '#', :class => "hover-wrap fancybox", "data-fancybox-group" => "gallery", title: "The City" do                
                    %span.overlay-img
                    %span.overlay-img-thumb.font-icon-plus
                  / Thumb Image and Description
                  = image_tag '4_teractor111_Fixd.jpg'
                  
                / End Item Project
                / Item Project and Filter Name
                %li.item-thumbs.span3.photography
                  / Fancybox - Gallery Enabled - Title - Full Image
                  = link_to '#', :class => "hover-wrap fancybox", "data-fancybox-group" => "gallery", title: "The City" do                
                    %span.overlay-img
                    %span.overlay-img-thumb.font-icon-plus
                  / Thumb Image and Description
                  = image_tag '4_teractor111_Fixd.jpg'
                  
                / End Item Project
                / Item Project and Filter Name
                %li.item-thumbs.span3.video
                  / Fancybox Media - Gallery Enabled - Title - Link to Video
                  = link_to '#', :class => "hover-wrap fancybox", "data-fancybox-group" => "gallery", title: "The City" do                
                    %span.overlay-img
                    %span.overlay-img-thumb.font-icon-plus
                  / Thumb Image and Description
                  = image_tag '4_teractor111_Fixd.jpg'
                  
                / End Item Project
                / Item Project and Filter Name
                %li.item-thumbs.span3.photography
                  / Fancybox - Gallery Enabled - Title - Full Image
                  = link_to '#', :class => "hover-wrap fancybox", "data-fancybox-group" => "gallery", title: "The City" do                
                    %span.overlay-img
                    %span.overlay-img-thumb.font-icon-plus
                  / Thumb Image and Description
                  = image_tag '4_teractor111_Fixd.jpg'
                  
  .clear-float              
    / End Portfolio Projects
/ End Our Work Section


    
