!!!
%html
  %head
    %title= 'بسته درجه دو'
 
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 

  %body
    / This section is for Splash Screen
    .ole
      %section#jSplash
        #circle
    / End of Splash Screen 
    / Homepage Slider
    #home-slider
      .overlay
      .slider-text
        #slidecaption
      .control-nav
        = link_to '#' , :class => "load-item", :id => "prevslide" do    
          %i.font-icon-arrow-simple-left
        = link_to '#' , :class => "load-item", :id => "nextslide" do        
          %i.font-icon-arrow-simple-right
        %ul#slide-list
        = link_to '#work' ,  :id => "nextsection" do        
          %i.font-icon-arrow-simple-down
    / End Homepage Slider
 
    %header
      .sticky-nav
        %a#mobile-nav.menu-nav{href: "#menu-nav"}
        #logo
          %a#goUp{href: "#home-slider", title: "Brushed | Responsive One Page Template"} Brushed Template
        
        %nav#menu
          %ul#menu-nav
            %li.current
              %a{href: "#home-slider"} Home
            %li
              %a{href: "#work"} Our Work
            %li
              %a{href: "#about"} About Us
            %li
              %a{href: "#contact"} Contact
            %li
              %a.external{href: "shortcodes.html"} Shortcodes
    / End Header
    = yield 
    = render "shared/footer"
