!!!
%html
  %head
    %title= 'کیمیاکاران '
 
    = stylesheet_link_tag    "application", media: "all"
    
    = csrf_meta_tags 

  %body{:class => I18n.locale}
    / This section is for Splash Screen
    .ole
      %section#jSplash
        #circle
    / End of Splash Screen 
    / Homepage Slider
    
    :javascript
      user_slides = [#{Slide.get_supersized_js}]
    #home-slider.en
      .overlay
      .slider-text
        #slidecaption{:class => I18n.locale}= t('kimiakaran')
          
      .control-nav
        = link_to '#' , :class => "load-item", :id => "prevslide" do    
          %i.font-icon-arrow-simple-left
        = link_to '#' , :class => "load-item", :id => "nextslide" do        
          %i.font-icon-arrow-simple-right
        %ul#slide-list
        = link_to '#work' ,  :id => "nextsection" do        
          %i.font-icon-arrow-simple-down
        #nextsection{:style => "margin-right:1px; text-align:center"}
          = link_to (image_tag 'flag/fa.png'), locale: :fa
          = link_to (image_tag 'flag/en.png'), locale: :en
          
        
    / End Homepage Slider
 
    %header
      .sticky-nav
        %a#mobile-nav.menu-nav{href: "#menu-nav"}
        #logo
          %a#goUp{href: "#home-slider", title: "KIMIA KARAN "} KIMIA KARAN
        - if is_admin?
          .admin_menu.fa
            %h3= 'منوی مدیرسایت'
            = render 'shared/admin_menu'
        %nav#menu
          = render 'shared/menu'
    / End Header
    = yield 
    = render "shared/footer"
    / Back To Top
    %a#back-to-top{href: "#"}
      %i.font-icon-arrow-simple-up
    / End Back to Top

    
  = javascript_include_tag "application"
